POSTGRES_DB=main
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DJANGO_SECRET_KEY=
INFURA_PROJECT_ID=
OPENAI_API_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
SMTP_EMAIL=
SMTP_PASSWORD=
ETH_PRIVATE_KEY=
ETH_PUBLIC_ADDRESS=
DEBUG=true
GOERLI_RPC_URL=
MAINNET_RPC_URL=
ARBITRUM_RPC_URL=
AIRSTACK_API_KEY=
REDIS_PORT=6379
REDIS_DB=0
REDIS_HOST=redis
BACKEND_URL=http://backend:8000
INTERNAL_KEY=
SEPOLIA_RPC_URL=
MANTLE_RPC_URL=